@model IEnumerable<Calisan>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Çalışan Listesi";
}

<h2>Çalışan Listesi</h2>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Adı</th>
            <th>Çalışma Saatleri</th>
            <th>Hizmetler</th>
            <th>İşlem Yap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calisan in Model)
        {
            <tr>
                <td>@calisan.FullName</td>
                <td>
                    @calisan.CalismaBaslangici.ToString(@"hh\:mm") -
                    @calisan.CalismaBitisi.ToString(@"hh\:mm")
                </td>
                <td>
                    @foreach (var islem in calisan.CalisanIslemler.Select(ci => ci.Islem))
                    {
                        <span class="badge bg-primary">@islem.Adi</span>
                    }
                </td>
                <td>
                    <a asp-action="CalisanDuzenle" asp-route-id="@calisan.CalisanID" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil"></i> Düzenle
                    </a>
                    <a asp-action="CalisanSil" asp-route-id="@calisan.CalisanID" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>